+===========================================================================+
|       -  =  A  V  I  S  O     D  E     C  O  B  R  A  N  Ç  A  =  -       |
+============================================================+==============+
| Nome: [nome                                              ] |              |
+------------------------------------------------------------+   1a. VIA    |
| Endereço: [endereco1                                     ] | DESTINATÁRIO |
|           [endereco2                                     ] |              |
+----------------------------+----------------+--------------+-----+--------+
| Bairro: [bairro          ] | CEP: [cep    ] | Cidade: [cidade  ] | UF: [u]|
+----------------------------+-+--------------+-----------+--------+--------+
| C.N.P.J.: [cnpj            ] | I.E.: [ie           ]    | I.M.: [im ]     |
+------------------------------+------+-------------------+-----------------+
|         Condições: A VISTA          |     Data da Emissão: [emissao ]     |
+======+==============================+=======================+=============+
| Qtd. | Descrição dos Serviços                               | Preço Total |
+------+------------------------------------------------------+-------------+
| [q1] | [d1                                ]                 | [v1       ] |
| [q2] | [d2                                ]                 | [v2       ] |
| [q3] | [d3                                ]                 | [v3       ] |
| [q4] | [d4                                ]                 | [v4       ] |
|      |                                                      |             |
+------+---------------------------------------------+--------+-------------+
|    Vencimento: [vcto    ]. Após, serão cobrados    |        |             |
|    encargos financeiros.                           | TOTAL: | [total    ] |
+====================================================+========+=============+
| Recebi(emos) os serviços constantes deste aviso de cobrança.              |
|                                                                           |
|                                                                           |
|                                                                           |
| Data: ___/___/______     Carimbo e Assinatura: _________________________  |
+===========================================================================+

