+============================================================================+
|  L  B  M  -  ESCRITÓRIO DE SERVIÇOS IBIÚNA LTDA. - ME                      |
|  Avenida Vereador Benedito de Campos, 156 - 1º Andar - Salas 5 e 6         |
|  Centro - Ibiúna - SP  -- CNPJ nº 05.296.042/0001-35 - I.M. nº 5.910       | 
+============================================================+===============+
| Nome: [nome                                              ] |     NFFS      |
| Endereço: [endereco3                                     ] |   SÉRIE "U"   |
| [endereco4                                               ] |  No. [nffs]   |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] |    1a. VIA    |
| Condições: A VISTA             Data da Emissão: [emissao ] | DESTINATÁRIO  |
+======+======================================+==============+=+=============+
| Qtd. | Descrição dos Serviços               | Preço Unitário | Preço Total |
+------+--------------------------------------+----------------+-------------+
| [q1] | [d1                                ] |    [v1       ] | [v1       ] |
| [q2] | [d2                                ] |    [v2       ] | [v2       ] |
| [q3] | [d3                                ] |    [v3       ] | [v3       ] |
| [q4] | [d4                                ] |    [v4       ] | [v4       ] |
+------+---------------------------------+----+----------------+-------------+
|                                        |      Total da Nota: | [total    ] |
| NÃO VALE COMO RECIBO. Não é sujeito ao +---------------------+-------------+
| ICMS, cfe Dec. Lei 406 de 31/12/1968 e |                                   |
| Lei 834 de 08/09/1969.                 |   Vencimento: [vcto    ]. Após,   |
|                                        |   cobrar encargos financeiros.    |
|                                        |                                   |
+==========+=============================+===================================+
|          | Recebi(emos) de LBM - ESCRITÓRIO DE SERVIÇOS IBIÚNA LTDA. -ME   |
| NFFS No. | os serviços constantes desta Nota Fiscal de Fatura de Serviços. |
|          |                                                                 |
|  [nffs]  |                                                                 |
|          | Data: ___/___/______  Carimbo e Assinatura: ___________________ |
+==========+=================================================================+


+============================================================================+
|  L  B  M  -  ESCRITÓRIO DE SERVIÇOS IBIÚNA LTDA. - ME                      |
|  Avenida Vereador Benedito de Campos, 156 - 1º Andar - Salas 5 e 6         |
|  Centro - Ibiúna - SP  -- CNPJ nº 05.296.042/0001-35 - I.M. nº 5.910       | 
+============================================================+===============+
| Nome: [nome                                              ] |     NFFS      |
| Endereço: [endereco3                                     ] |   SÉRIE "U"   |
| [endereco4                                               ] |  No. [nffs]   |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] |    2a. VIA    |
| Condições: A VISTA             Data da Emissão: [emissao ] | CONTABILIDADE |
+======+======================================+==============+=+=============+
| Qtd. | Descrição dos Serviços               | Preço Unitário | Preço Total |
+------+--------------------------------------+----------------+-------------+
| [q1] | [d1                                ] |    [v1       ] | [v1       ] |
| [q2] | [d2                                ] |    [v2       ] | [v2       ] |
| [q3] | [d3                                ] |    [v3       ] | [v3       ] |
| [q4] | [d4                                ] |    [v4       ] | [v4       ] |
+------+---------------------------------+----+----------------+-------------+
|                                        |      Total da Nota: | [total    ] |
| NÃO VALE COMO RECIBO. Não é sujeito ao +---------------------+-------------+
| ICMS, cfe Dec. Lei 406 de 31/12/1968 e |                                   |
| Lei 834 de 08/09/1969.                 |   Vencimento: [vcto    ]. Após,   |
|                                        |   cobrar encargos financeiros.    |
|                                        |                                   |
+==========+=============================+===================================+
|          | Recebi(emos) de LBM - ESCRITÓRIO DE SERVIÇOS IBIÚNA LTDA. -ME   |
| NFFS No. | os serviços constantes desta Nota Fiscal de Fatura de Serviços. |
|          |                                                                 |
|  [nffs]  |                                                                 |
|          | Data: ___/___/______  Carimbo e Assinatura: ___________________ |
+==========+=================================================================+


+============================================================================+
|  L  B  M  -  ESCRITÓRIO DE SERVIÇOS IBIÚNA LTDA. - ME                      |
|  Avenida Vereador Benedito de Campos, 156 - 1º Andar - Salas 5 e 6         |
|  Centro - Ibiúna - SP  -- CNPJ nº 05.296.042/0001-35 - I.M. nº 5.910       | 
+============================================================+===============+
| Nome: [nome                                              ] |     NFFS      |
| Endereço: [endereco3                                     ] |   SÉRIE "U"   |
| [endereco4                                               ] |  No. [nffs]   |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] |    3a. VIA    |
| Condições: A VISTA             Data da Emissão: [emissao ] |      FIXA     |
+======+======================================+==============+=+=============+
| Qtd. | Descrição dos Serviços               | Preço Unitário | Preço Total |
+------+--------------------------------------+----------------+-------------+
| [q1] | [d1                                ] |    [v1       ] | [v1       ] |
| [q2] | [d2                                ] |    [v2       ] | [v2       ] |
| [q3] | [d3                                ] |    [v3       ] | [v3       ] |
| [q4] | [d4                                ] |    [v4       ] | [v4       ] |
+------+---------------------------------+----+----------------+-------------+
|                                        |      Total da Nota: | [total    ] |
| NÃO VALE COMO RECIBO. Não é sujeito ao +---------------------+-------------+
| ICMS, cfe Dec. Lei 406 de 31/12/1968 e |                                   |
| Lei 834 de 08/09/1969.                 |   Vencimento: [vcto    ]. Após,   |
|                                        |   cobrar encargos financeiros.    |
|                                        |                                   |
+==========+=============================+===================================+
|          | Recebi(emos) de LBM - ESCRITÓRIO DE SERVIÇOS IBIÚNA LTDA. -ME   |
| NFFS No. | os serviços constantes desta Nota Fiscal de Fatura de Serviços. |
|          |                                                                 |
|  [nffs]  |                                                                 |
|          | Data: ___/___/______  Carimbo e Assinatura: ___________________ |
+==========+=================================================================+


+============================================================================+
|  L  B  M  -  ESCRITÓRIO DE SERVIÇOS IBIÚNA LTDA. - ME                      |
|  Avenida Vereador Benedito de Campos, 156 - 1º Andar - Salas 5 e 6         |
|  Centro - Ibiúna - SP  -- CNPJ nº 05.296.042/0001-35 - I.M. nº 5.910       | 
+============================================================+===============+
| Nome: [nome                                              ] |               |
| Endereço: [endereco3                                     ] | R E C I B O   |
| [endereco4                                               ] | Vencimento:   |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] | [vcto    ]    |
| Condições: A VISTA             Data da Emissão: [emissao ] |               |
+============================================================+===============+
|                                                                            |
|                                                    Valor...R$ [total    ]  |
|                                                  Líquido...R$ [total    ]  |
|                                                                            |
|                                                                            |
|  Recebemos da firma acima qualificada o valor líquido de R$ [total    ]    |
|  ([extenso                                                            ]),  |
|  referente à nossa Nota Fiscal Fatura de Serviços no. [nffs], emitida em   |
|  [emissao ].  Por ser verdade firmamos o presente, dando quitação do       |
|  valor recebido.                                                           |
|                                                                            |
|                                                                            |
|                                                   Ibiúna, ___/___/______.  |
|                                                                            |
|                                                                            |
|                                                                            |
|                                            ______________________________  |
|  P A G A R   N O   V E N C I M E N T O               RESPONSÁVEL           |
|                                                                            |
+============================================================================+

