+============================================================================+
|  M I N I S T E R   S E R V I Ç O S   C O N T Á B E I S   S / C   L T D A.  |
|     Av. Ver. Benedito de Campos, 156 - 1o. andar - Centro - Ibiúna - SP    |
|              CNPJ 49.313.661/0001-66 - CRC SP 2.210 - IM 00421             |
+============================================================+===============+
| Nome: [nome                                              ] |     NFFS      |
| Endereço: [endereco3                                     ] |   SÉRIE "U"   |
| [endereco4                                               ] |  No. [nffs]   |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] |    1a. VIA    |
| Condições: A VISTA             Data da Emissão: [emissao ] | DESTINATÁRIO  |
+======+======================================+==============+=+=============+
| Qtd. | Descrição dos Serviços               | Preço Unitário | Preço Total |
+------+--------------------------------------+----------------+-------------+
| [q1] | [d1                                ] |    [v1       ] | [v1       ] |
| [q2] | [d2                                ] |    [v2       ] | [v2       ] |
| [q3] | [d3                                ] |    [v3       ] | [v3       ] |
| [q4] | [d4                                ] |    [v4       ] | [v4       ] |
+------+---------------------------------+----+----------------+-------------+
| NÃO VALE COMO RECIBO.                  |               Soma: | [total    ] |
| Não está sujeito ao ICMS, conforme o   |   (-) IRFON (1,5%): |        0,00 |
| Decreto Lei 406 de 31/12/1968,         |      Total da Nota: | [total    ] |
| alterado pelo Decreto Lei 834 de       +---------------------+-------------+
| 08/09/1969.                            | Vencimento: [vcto    ]. Depois,   |
|                                        | cobrar encargos financeiros.      |
+==========+=============================+===================================+
|          | Recebi(emos) de MINISTER SERVIÇOS CONTÁBEIS S/C LTDA. os        |
| NFFS No. | serviços constantes desta Nota Fiscal de Fatura de Serviços.    |
|          |                                                                 |
|  [nffs]  |                                                                 |
|          | Data: ___/___/______  Carimbo e Assinatura: ___________________ |
+==========+=================================================================+


+============================================================================+
|  M I N I S T E R   S E R V I Ç O S   C O N T Á B E I S   S / C   L T D A.  |
|     Av. Ver. Benedito de Campos, 156 - 1o. andar - Centro - Ibiúna - SP    |
|              CNPJ 49.313.661/0001-66 - CRC SP 2.210 - IM 00421             |
+============================================================+===============+
| Nome: [nome                                              ] |     NFFS      |
| Endereço: [endereco3                                     ] |   SÉRIE "U"   |
| [endereco4                                               ] |  No. [nffs]   |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] |    2a. VIA    |
| Condições: A VISTA             Data da Emissão: [emissao ] | CONTABILIDADE |
+======+======================================+==============+=+=============+
| Qtd. | Descrição dos Serviços               | Preço Unitário | Preço Total |
+------+--------------------------------------+----------------+-------------+
| [q1] | [d1                                ] |    [v1       ] | [v1       ] |
| [q2] | [d2                                ] |    [v2       ] | [v2       ] |
| [q3] | [d3                                ] |    [v3       ] | [v3       ] |
| [q4] | [d4                                ] |    [v4       ] | [v4       ] |
+------+---------------------------------+----+----------------+-------------+
| NÃO VALE COMO RECIBO.                  |               Soma: | [total    ] |
| Não está sujeito ao ICMS, conforme o   |   (-) IRFON (1,5%): |        0,00 |
| Decreto Lei 406 de 31/12/1968,         |      Total da Nota: | [total    ] |
| alterado pelo Decreto Lei 834 de       +---------------------+-------------+
| 08/09/1969.                            | Vencimento: [vcto    ]. Depois,   |
|                                        | cobrar encargos financeiros.      |
+==========+=============================+===================================+
|          | Recebi(emos) de MINISTER SERVIÇOS CONTÁBEIS S/C LTDA. os        |
| NFFS No. | serviços constantes desta Nota Fiscal de Fatura de Serviços.    |
|          |                                                                 |
|  [nffs]  |                                                                 |
|          | Data: ___/___/______  Carimbo e Assinatura: ___________________ |
+==========+=================================================================+


+============================================================================+
|  M I N I S T E R   S E R V I Ç O S   C O N T Á B E I S   S / C   L T D A.  |
|     Av. Ver. Benedito de Campos, 156 - 1o. andar - Centro - Ibiúna - SP    |
|              CNPJ 49.313.661/0001-66 - CRC SP 2.210 - IM 00421             |
+============================================================+===============+
| Nome: [nome                                              ] |     NFFS      |
| Endereço: [endereco3                                     ] |   SÉRIE "U"   |
| [endereco4                                               ] |  No. [nffs]   |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] |    3a. VIA    |
| Condições: A VISTA             Data da Emissão: [emissao ] |      FIXA     |
+======+======================================+==============+=+=============+
| Qtd. | Descrição dos Serviços               | Preço Unitário | Preço Total |
+------+--------------------------------------+----------------+-------------+
| [q1] | [d1                                ] |    [v1       ] | [v1       ] |
| [q2] | [d2                                ] |    [v2       ] | [v2       ] |
| [q3] | [d3                                ] |    [v3       ] | [v3       ] |
| [q4] | [d4                                ] |    [v4       ] | [v4       ] |
+------+---------------------------------+----+----------------+-------------+
| NÃO VALE COMO RECIBO.                  |               Soma: | [total    ] |
| Não está sujeito ao ICMS, conforme o   |   (-) IRFON (1,5%): |        0,00 |
| Decreto Lei 406 de 31/12/1968,         |      Total da Nota: | [total    ] |
| alterado pelo Decreto Lei 834 de       +---------------------+-------------+
| 08/09/1969.                            | Vencimento: [vcto    ]. Depois,   |
|                                        | cobrar encargos financeiros.      |
+==========+=============================+===================================+
|          | Recebi(emos) de MINISTER SERVIÇOS CONTÁBEIS S/C LTDA. os        |
| NFFS No. | serviços constantes desta Nota Fiscal de Fatura de Serviços.    |
|          |                                                                 |
|  [nffs]  |                                                                 |
|          | Data: ___/___/______  Carimbo e Assinatura: ___________________ |
+==========+=================================================================+


+============================================================================+
|  M I N I S T E R   S E R V I Ç O S   C O N T Á B E I S   S / C   L T D A.  |
|     Av. Ver. Benedito de Campos, 156 - 1o. andar - Centro - Ibiúna - SP    |
|              CNPJ 49.313.661/0001-66 - CRC SP 2.210 - IM 00421             |
+============================================================+===============+
| Nome: [nome                                              ] | R E C I B O   |
| Endereço: [endereco3                                     ] | Vencimento:   |
| [endereco4                                               ] | [vcto    ]    |
| CNPJ: [cnpj            ] - IE: [ie           ] - IM: [im ] |               |
| Condições: A VISTA             Data da Emissão: [emissao ] |               |
+============================================================+===============+
|                              Total da Nota................: R$ [total    ] |
|                              (-) IRFON (1,5%). ...........: R$        0,00 |
|                              (-) Contr. Sociais (4,65%)...: R$        0,00 |
|                              (=) Valor Líquido............: R$ [total    ] |
|                                                                            |
|  Recebemos da firma acima qualificada o valor líquido de R$ [total    ]    |
|  ([extenso                                                            ]),  |
|  referente à nossa Nota Fiscal Fatura de Serviços no. [nffs], emitida em   |
|  [emissao ].  Por ser verdade firmamos o presente, dando quitação do       |
|  valor recebido.                                                           |
|                                                                            |
|                                                   Ibiúna, ___/___/______.  |
|                                                                            |
|                                                                            |
|                                                                            |
|                                                                            |
|                                            ______________________________  |
|  P A G A R   N O   V E N C I M E N T O               RESPONSÁVEL           |
|                                                                            |
+============================================================================+

